{% extends "base.html" %}

{% block title %}Clientes - Proyecto Integrador{% endblock %}

{% block content %}
<h2 class="mb-4">Gestión de Clientes</h2>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Teléfono</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nombre }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.telefono }}</td>
                <td>{{ c.ciudad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}